# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
.idea/

bin/
obj/


StateBliss.SampleApi/bin/
StateBliss.SampleApi/obj/
StateBliss/bin/
StateBliss/obj/
StateBliss.Tests/bin/
StateBliss.Tests/obj/
packages/

# User-specific files
*.suo
*.user
*.sln.docstates
aspnet-core/DeleteBinsAndObjs.bat

*.pubxml

